<div id="disqus_thread"></div>

{% include 'AurekaDisqusBundle::disqus.html.twig' %}

{% if disqus.signOnEnabled %}
    var disqus_config = function () {
        this.page.remote_auth_s3 = {{ disqus.singleSignOnHash }};
        this.page.api_key = {{ disqus.apiKey }};
    }
{% endif %}