<div id="disqus_thread"></div>

{% if disqus.signOnEnabled %}
<script type="text/javascript">
    var disqus_config = function () {
        this.page.remote_auth_s3 = {{ disqus.singleSignOnHash(app.user) }};
        this.page.api_key = {{ disqus.apiKey }};
    }
</script>
{% endif %}

{% include 'AurekaDisqusBundle::disqus.html.twig' %}
