<div id="disqus_thread"></div>

{% include 'AurekaDisqusBundle::disqus.html.twig' %}

{% if configuration.signOnEnabled %}
    var disqus_config = function () {
        this.page.remote_auth_s3 = '<message> <hmac> <timestamp>';
        this.page.api_key = 'public_api_key';
    }
{% endif %}